{template 'common/header'}
<style>
	.table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>昵称</th>
                <th>头像</th>
                <th>授权时间</th>
            </tr>
            </thead>
            <tbody>
            {loop $user_list $key $value}
            <tr>
                <td>{$value['id']}</td>
                <td>{$value['nickname']}</td>
                <td><img style="width: 70px;height: 70px;" src="{$value['avatar']}"/></td>
                <!-- <td><img style="width: 35px;height: 35px;" src="{php echo substr($value['profile_photo'], 0, strlen($value['profile_photo']) - 3 );}" /></td>-->
                <td>{$value['authorize_time']}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>

{template 'common/footer'}
