<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Title</title>
</head>
<body>
<br/>
event_registration test page
<img src="https://s.zimedia.com.tw/s/fERuf8-18" alt="smile_face"/>
{$name}<br/>

{php $description = 'excellent';}
{loop $arr $key $value}

{if $value === 'Vue'}
Vue is best {$description}!<br/>
{else}
{$key} - {$value} <br/>
{/loop}


{/if}

<br/>

</body>
</html>
